body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(241, 239, 69, 0.5), rgba(226, 181, 98, 0.8));, no-repeat right top/contain;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 85%;
    margin: 0 auto;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1500px;
    height: 500px;
    border-radius: 20px; /* 边角圆滑，20px是示例值，可根据需要调整 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 阴影效果 */
}

.empty {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.jaychou {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), no-repeat right top/contain;
}

.westlife {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), no-repeat right top/contain;
}

.artist-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.artist-name {
    max-width: 100px;
    max-height: 100px;
}

.artist-image {
    max-width: 100px;
    max-height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.song-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.song-list li {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-list li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.song-list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.song-title {
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
}

.album-title {
    font-size: 14px;
    color: #ccc;
    margin-right: 10px;
}

.play-icon {
    max-width: 20px;
    max-height: 20px;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.video-container {
    max-width: 800px;
    width: 100%;
}